body{
    background-color: #1A1A1D;
    color: white;
}


/* Header */

header{
    background-color: #3C3D37;
    padding: 20px;
    border-radius: 20px;
    width: max-content;
    margin: auto;
    padding: 15px 50px;
}

h1{
    font-size: 3rem;
    text-align: center;
    text-shadow: 2px 2px 5px #1A1A1D,
                -2px -2px 5px #1A1A1D;
}

#h1Header{
    margin: auto;
    width: max-content;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #697565;
    box-shadow: 2px 2px 5px #1A1A1D,
                -2px -2px 5px #1A1A1D;
}

/* Header */

/* Main */

main{
    width: max-content;
    margin: auto;
    border: 2px solid black;
    padding: 30px 20px;
    margin-top: 20px;
    background-color: #3C3D37;
}

#inputContainer{
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 25px;
    border: black 2px solid;
    background-color: #697565;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#inputContainer h2{
    font-size: 2rem;
    text-shadow: 2px 2px 5px #1A1A1D,
                -2px -2px 5px #1A1A1D;
}

#inputContainer input{
    font-size: 1.5rem;
    border: solid 1px black;
    border-radius: 15px;
    text-align: center;
}

#inputContainer p{
    font-size: 1.2rem;
}

#inputContainer button{
    font-size: 1.5rem;
    border: solid 1px black;
    border-radius: 15px;
    padding: 0px 10px;
    cursor: pointer;
}

#inputContainer button:active{
    border-color: white;
}

#resultDiv{
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 2px black,
                -1px -1px 2px black;
    margin: 15px 0px;
    padding: 10px 20px;
}

#resultDiv{
    display: none;
}

.number-background {
    background-color: #403c3c;  
    padding: 2px 5px;                         
    border-radius: 5px;      
}

#radioBoxDiv{
    margin-bottom: 20px;
    font-size: 1.1rem;
}

#radioBoxDiv input{
    cursor: pointer;
}


/* Main */